<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Movie Finder</a>
  </nav>
  
<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h1>Find a movie</h1>
      <p>Search for a movie using the form below:</p>
      <form #form="ngForm" (submit)="search(form.value)">
        <input type="text" class="form-control" name="query" ngModel>
        <button type="sumbit" class="btn btn-primary">Search</button>
      </form>
    </div>
  </div>

  <div *ngIf="searchResult" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Matched Movies</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div *ngFor="let movie of searchResult;let i=index" class="col-md-2">
          <app-movie-info *ngIf="i < 6" [movie-info]="movie"></app-movie-info>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Popular Movies</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div *ngFor="let movie of popularMovies" class="col-md-2">
          <app-movie-info [movie-info]="movie"></app-movie-info>
        </div>
      </div>
    </div>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">In Theaters</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div *ngFor="let movie of inTheater" class="col-md-2">
          <app-movie-info [movie-info]="movie"></app-movie-info>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Drama Movies</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div *ngFor="let movie of dramaMovies" class="col-md-2">
          <app-movie-info [movie-info]="movie"></app-movie-info>
        </div>
      </div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Kids Movies</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div *ngFor="let movie of kidsMovies" class="col-md-2">
          <app-movie-info [movie-info]="movie"></app-movie-info>
        </div>
      </div>
    </div>
  </div>
  
  </main>
  
  <footer class="container">
    <p>© MovieDB</p>
  </footer>