extends ../layout.pug

block content
  h1 Add Meme
  .container
    form.form.center-form(method='post', action='/addGenre' )      
      .form-group
        label(for='genreName') Genre Name
        input#movieTitle.input-field(name='genreName', type='text')
      .form-group
        input.form-btn.btn(type='submit', value='Add')
