<div class="container">
    <div class="row">
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <h1>Registration Form</h1>
        <form #form="ngForm" (ngSubmit)="onSubmit()" [mustMatch]="['password', 'repeatPassword']" >
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-user"></i> </span>
            </div>
            <input required appUserName class="form-control" #userNameVar="ngModel" placeholder="Full Name" ngModel name="fullName">
          </div>
          <div class="alert alert-danger" *ngIf="userNameVar.touched && userNameVar.errors?.nameValidator">Invalid Usernmae</div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
            </div>
            <input required appEmail #emailVar="ngModel" class="form-control" placeholder="Email Address" type="email" ngModel name="email">
          </div>
          <div class="alert alert-danger" *ngIf="emailVar.touched && emailVar.errors?.emailValidator">Invalid Email</div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
            </div>
            <select class="custom-select" style="max-width: 120px;" name="extension" [(ngModel)]="selectedExtension">
                <option [selected]='extensions[0]' *ngFor="let extension of extensions"
                [value]="extension">
                {{extension}}
            </select>
            <input required appPhoneNumber #phoneVar="ngModel" class="form-control" placeholder="Phone number" type="text" ngModel name="phone">
          </div>
          <div class="alert alert-danger" *ngIf="phoneVar.touched && phoneVar.errors?.phoneValidator">Invalid Phone</div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-building"></i> </span>
            </div>
            <select class="form-control" name="profession" [(ngModel)]="selectedProfession">
                <option [selected]='professions[0]' *ngFor="let profession of professions"
                [value]="profession">
                {{profession}}
            </select>
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input required appPassword #passVar="ngModel" class="form-control" placeholder="Create password" type="password" ngModel name="password">
            <div class="alert alert-danger" *ngIf="passVar.touched && passVar.errors?.passwordValidator">Invalid Password</div>
          </div>
          <div class="form-group input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
            </div>
            <input required class="form-control" placeholder="Repeat password" type="password" ngModel name="repeatPassword" #repeatPassword="ngModel" >
          </div>
          <div class="alert alert-danger" *ngIf="repeatPassword.touched && repeatPassword.errors && repeatPassword.errors.mustMatch">Passwords must match</div>
          <div class="form-group input-group">
          <div class="input-group-prepend">
              <span class="input-group-text"> <i class="fa fa-image"></i> </span>
            </div>
            <input required appUrlValidator #urlVar="ngModel" class="form-control" placeholder="Add Image URL" type="url" ngModel name="imageUrl">
          </div>
          <div class="alert alert-danger" *ngIf="urlVar.touched && urlVar.errors?.urlValidator">Invalid URL</div>
          <div class="form-group">
            <button [disabled]="!form.valid" type="submit" class="btn btn-primary btn-block"> Create Account </button>
          </div>
          <p class="text-center">Have an account? <a href="">Log In</a> </p>
        </form>
      </div>
      <div class="col-lg-4"></div>
    </div>
  </div>