.btn {
    background: transparent;
    border: 3px solid #C6C6C6;
    margin: 5px;
}

.delete-last-btn {
    float: right;
    color: red;
}

#root {
    width: 290px;
}

.control-btn {
    color: green
}